<div id="services">
	<%= render "shared/title_div", title: "Services", text: "I design & develop qaulity products to help small & medium level business." %>
	<div class="services text-center">
		<%= image_tag("GreenBackground.jpg", class: "image_100_width hide_in_xs") %>
		<%= image_tag("MobileGreenBackground.jpg", class: "image_100_width hide_in_md") %>
		<%= render "services/services", div: "web_design_div", title_pic: "WebDesignTitle.png", num: "1", image: "MapCompas.png", direction: "bottom", image_text: "WebDesignText.png" %>

		<%= render "services/services", div: "responsive_div", title_pic: "ResponsiveDesignTitle.png", num: "2", image: "Computer.png", direction: "top", image_text: "ResponsiveDesignText.png" %>

		<%= render "services/services", div: "startup_div", title_pic: "StartupTitle.png", num: "3", image: "LightPaperPlane.png", direction: "bottom", image_text: "StartupText.png" %>

		<%= render "services/services", div: "web_dev_div", title_pic: "WebDevelopementTitle.png", num: "4", image: "KeyKeyboard.png", direction: "top", image_text: "WebDevelopementText.png" %>

		<%= render "services/services", div: "app_dev_div", title_pic: "AppDevelopementTitle.png", num: "5", image: "IpadIphone.png", direction: "bottom", image_text: "AppDeveloppmentText.png" %>

		<%= render "services/services", div: "branding_div", title_pic: "BrandingTitle.png", num: "6", image: "CoffeePlantBrush.png", direction: "top", image_text: "BrandingText.png" %>
	</div>
</div>