<div class="col-md-8 col-md-offset-2 marginTopBottom100 text-center">
	<%= simple_form_for(@portfolio, multipart: true) do |f| %>
		<div class="col-sm-9">
			<div class="col-sm-4">
				<%= f.input :title %>
				<%= f.input :url %>
				<%= f.input :position, collection: 1..@portfolios.length %>
			</div>
		  	<div class="col-sm-8">
		  		<%= f.input :why_text, as: :text %>
		  		<%= f.input :design_text, as: :text %>
		  	</div>
		  	<div class="col-sm-12">
		  		<%= f.input :features_text, as: :text, input_html: { rows: 10 } %>
		  	</div>
		  	<div class="col-sm-6 text-left">
		  		<%= f.label :image, label: "Upload Image" %>
		  		<%= f.file_field :image %>
		  		<%= f.label :image_modal, label: "Upload Image for Modal" %>
		  		<%= f.file_field :image_modal %>
		  	</div>
		  	<div class="col-sm-6">
		  		<%= f.input :portfolio_type, as: :radio_buttons, collection: [["Web", "Web"], ["Logo", "Logo"], ["BigLogo", "BigLogo"]] %>
		  	</div>
		  	<div class="col-sm-12">
		  		<%= f.button :submit %>
		  	</div>
		  </div>
		  <div class="col-sm-3 text-left">
		  	<%= f.label :logos, label: 'Languages' %>
		  	<%= f.association :logos, as: :check_boxes, label: false %>
		  </div>
	<% end %>
</div>
