<div id="home">
	<div class="background_image hide_in_xs_portrait">
		<%= image_tag("HomeLogoCD.jpg", class: "image_100_width") %>
		<%= image_tag("CercleLogoText.png", class: "logo_text_circle") %>
		<%= image_tag("HomeChanne.png", class: "logo_text logo_text_channe") %>
		<%= image_tag("HomeDesign.png", class: "logo_text logo_text_design") %>
		<%= image_tag("DashLineSign.png", class: "dashed_line_pic dashed_line_pic1") %>
		<%= image_tag("WiFiSign.png", class: "end_line_pic wifi_pic") %>
		<%= image_tag("DashLineSign.png", class: "dashed_line_pic dashed_line_pic2") %>
		<%= image_tag("CogSign.png", class: "end_line_pic cog_pic") %>
		<%= image_tag("DashLineSign.png", class: "dashed_line_pic dashed_line_pic3") %>
		<%= image_tag("LightBulbeSign.png", class: "end_line_pic light_pic") %>
		<%= image_tag("DashLineSign.png", class: "dashed_line_pic dashed_line_pic4") %>
		<%= image_tag("PhoneSign.png", class: "end_line_pic phone_pic") %>
		<div class="overlay"></div>
	</div>
	<div class="background_image_mobile hide_in_md_landscape">
		<%= image_tag("MobileHomeLogoCD.jpg", class: "image_100_width") %>
		<%= image_tag("CercleLogoText.png", class: "logo_text_circle_mobile") %>
		<%= image_tag("HomeChanne.png", class: "logo_text_mobile logo_text_channe_mobile") %>
		<%= image_tag("HomeDesign.png", class: "logo_text_mobile logo_text_design_mobile") %>
		<div class="overlay"></div>
	</div>
	<%= image_tag("HomeImage.png", class: "image_100_width home_image hide_in_xs_portrait") %>
	<%= image_tag("MobileHomeImage.png", class: "image_100_width home_image hide_in_md_landscape") %>

	<div class="features text-center">
		<div class="container">
			<div class="row marginTopBottom50">
				<div class="col-xs-12">
					<h1>Hi, I'm a <span style="color: #fff;">Ruby on Rails</span> developer!</h1>
					<p class="lead">All my apps comes with a personalized content management system.</p>
				</div>
				<div class="col-xs-4 marginTop50">
					<p><%= fa_icon "heart-o 4x" %></p>
					<p class="lead text-muted">Design with Love</p>
				</div>
				<div class="col-xs-4 marginTop50">
					<p><%= fa_icon "object-ungroup 4x" %></p>
					<p class="lead text-muted">Creative Feature</p>
				</div>
				<div class="col-xs-4 marginTop50">
					<p><%= fa_icon "sliders 4x" %></p>
					<p class="lead text-muted">Easy to Customize</p>
				</div>
			</div>
		</div>

	</div>
</div>