<div id="home">
	<div class="background_image">
		<%= image_tag("HomeLogoCD.jpg", class: "image_100_width") %>
		<%= image_tag("CercleLogoText.png", class: "logo_text_circle") %>
		<%= image_tag("HomeChanne.png", class: "logo_text logo_text_channe") %>
		<%= image_tag("HomeDesign.png", class: "logo_text logo_text_design") %>
		<div class="overlay"></div>
	</div>
	<%= image_tag("HomeImage.png", class: "image_100_width home_image") %>
</div>