<div id="abouts">
	<%= image_tag("abouts_transition.jpg", class: "image_100_width") %>
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-6">
				<h2 class="marginTop50">Who's Channe?</h2>
				<p class="marginTop50">
					Well first of all my name is pronounced "shan", if you didn't get it right I won't blame you, my name 
					is Chinese with a French writing and I live in the United-States so....<br/>
					I was born in Chamonix, situated in the French Alpes, and currently live in New York City.
					I've been coding since the age of 13, but got seriously into it 10 years later.<br/>
					I have a bachelor's degree in computer networking and I'm also a Apple Mac Certified Technician (AMCT). <br/>
					Lately I've been focusing in building web apps and I love it.
				</p>
				<div class="col-sm-12 abouts_logos hide_in_xs">
					<%= render "shared/logos" %>
				</div>
			</div>
			<div class="col-sm-6">
				<%= image_tag("profile.png", class: " profile_pic") %>
				<%= image_tag("thisguy.png", class: "this_guy_arrow_pic") %>
			</div>
			<div class="col-sm-12 abouts_logos hide_in_md abouts_logos_mobile">
				<%= render "shared/logos" %>
			</div>
		</div>
	</div>
</div>
